.col{ 
    border: 1px salmon;
    border-radius: 30px;
    border-style: solid;
    background: #66666633;
    padding: 1%;



}

h1 {
    font-weight: bold;
    font-size: 30px;
    font-family: 'Boogaloo', cursive;


}

#bioHead {
    font-weight: bold;

    font-family: 'Boogaloo', cursive;
}

navbar {
    width: 100%;
    background: #37375c;
}

nav.li { 
    display: inline-block;
    margin-right: 0;
    margin-left: 4px;

}

nav.li.a {
    color: white;
    text-align: center;

}


.col.bio {
    word-spacing: 2px;
    letter-spacing: 0.5px;
    line-height: 150%;
    text-align: center;
}

.col.name {
    text-align: center;
    float: left;
}


form {
    margin: 0 auto; 
    width: 250px;

}

.form-group {
padding-top: 0;
text-align: center;

}


footer {
    position:absolute;
    bottom:0;
    width: 100%;
    height:30px;   /* Height of the footer */
    background: #00000063
}
footer > p {
    text-align: center;
    padding-top: 10px;
}